body {
    font-family: 'Roboto', sans-serif;}

.header {
   background-color: #1f2937 ; 
   color: white;
   display: flex;
   flex-direction: column;
   gap: 32px;
   padding: 5px 100px 100px 100px;
   margin: 0;
}

.container1,
.container2 {
    display: flex;
    justify-content: space-between;
}

.container1 {
    align-items: baseline;
    gap: 24px;
}

.container2 {
    align-items: flex-end;
    gap: 24px;
}

.image {
    width: 800px;
    height: 180px;
    background-color: rgb(167, 162, 162);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.logo {
    font-weight: bolder;
    font-size: 20px;
}

button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
    width: 100px;
}

.links {
    font-size: 14px;
}

p {
    font-size: 14px;
    margin-top: 8px;
}

h1 { 
    margin: 0;
    padding: 0;
}

img {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 8%;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    color: #1f2937;
}
.core {
    padding:15px;
    display: flex;
    justify-content: center;
    gap: 36px;
    font-size: 14px;
    color: #1f2937;
    margin-bottom: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 125px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb ;
    color: #1f2937;
    padding: 80px 250px 60px 250px;
    
}

.text {
    align-self: flex-start;
    font-style: italic;
    font-size: 22px;
}

.signature { 
    align-self: flex-end;    
    font-weight: bold;
}